@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed'

body
  background: #222
  font-family: 'Roboto Condensed', sans-serif

svg
  background: #333
  display: block
  margin: auto
  
.title
  color: #ccc
  text-align: center
  
.link
  stroke: #999
  stroke-opacity: 0.6
  stroke-width: 1px

#name
  display: none
  padding: 3px
  border-radius: 2px
  box-shadow: -2px 2px 10px black
  z-index: 1
  position: absolute
  background-color: white